body {
    display: flex;
    justify-content: center;
    background-color: grey;
}

#d {
    margin-top: 250px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 12px;
}

#ans {
    background-color: black;
    color: white;
    border: 0px;
    font-size: 20px;
}

button {
    border-radius: 8px;
    border: 1px solid black;
}

button:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}
